@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.blog {
    text-align: center;
}

.main-container {
    background-color: #95b2ff;
    height: auto;
}

.section {
    background-color: #ffffff;
    margin: 24px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.blogs-section {
    color: #ffffff;
}

.blog-titles {
    font-size: 14px;
}

.market-div {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-sm-bg.png");
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    margin: 10px;
}

.Coffee-div {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png");
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    margin: 10px;
}

.Fruits-div {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png");
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    margin: 10px;
}

.Laptop-div {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-lg-bg.png");
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    margin: 10px;
}

.Nature-div {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png");
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    margin: 10px;
}

.Interior-div {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png");
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    margin: 10px;
}

.know-more-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 90px;
    font-size: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .main-container {
        background-color: #95b2ff;
        height: 100vh;
        width: 100vw;
    }

    .blogs-section {
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        margin: 4px;
        display: flex;
        flex-direction: column;
    }

    .market-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-lg-bg.png");
        height: 250px;
        width: 90%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        margin: 10px;
    }

    .coffe-fruits {
        display: flex;
    }

    .Coffee-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png");
        height: 250px;
        width: 45%;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        margin: 10px;
    }

    .Fruits-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png");
        height: 250px;
        width: 45%;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        margin: 10px;
    }

    .Laptop-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-sm-bg.png");
        height: 250px;
        width: 90%;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        margin: 10px;
    }

    .nature-interior {
        display: flex;
    }

    .Nature-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png");
        height: 250px;
        width: 45%;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        margin: 10px;
    }

    .Interior-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png");
        height: 250px;
        width: 45
    }
}



@media screen and (min-width:1200px) {
    .main-container {
        background-color: #95b2ff;
        height: auto;
        width: auto;
    }

    .blogs-section {
        height: auto;
        width: 1230px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .blogs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .blog-titles {
        font-size: 14px;
    }

    .div1 {
        display: flex;
    }

    .market-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-lg-bg.png");
        height: 250px;
        width: 500px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }

    .coffe-fruits {
        display: flex;
    }

    .Coffee-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png");
        height: 250px;
        width: 300px;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 7px;

    }

    .Fruits-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png");
        height: 250px;
        width: 300px;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }

    .div2 {
        display: flex;
    }

    .Laptop-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-sm-bg.png");
        height: 250px;
        width: 500px;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        margin: 10px;
        order: 1;
    }

    .nature-interior {
        display: flex;
    }

    .Nature-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png");
        height: 250px;
        width: 300px;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        margin: 10px;
    }

    .Interior-div {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png");
        height: 250px;
        width: 300px;
        background-size: cover;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        margin: 10px;
    }

    .know-more-btn {
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;
        width: 90px;
        font-size: 12px;
    }
}
